*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    padding: 0;
    width: 1481.5px;
    margin: 0;
    
}
header{
    background-color: #2d4177;
    width: 100%;
    height: 220px;
    top: 0;
}
section{
    
    position: absolute;
    width: 100%;
}
