#conteItemCarrusel{
    height: 427px;
    margin: 27px 62px;
    overflow: hidden;
}
.itemCarrusel{
    height: 100%;
    position: relative;
}
.tarjetaCarrusel{
    height: 100%;
}
.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flechasCarrusel i{
    color: white;
    margin: 20px;
}
a{
    text-decoration: none;
}

#contePuntos{
    height: 25px;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    bottom: 0;
    left: 50%;
    align-items: center;
}
#contePuntos > a{
    font-size: 1.5em;
    text-decoration: none;
}
#contePuntos > a:hover{
    color: green;
}

#conteItemCarrusel img{
    z-index: 1;
    height: 100%;
    width: 100%;
}